@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}
/* リセットCSSの一種 */
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}
/* 訪問前で異なるスタイルを適用 */
a {
  color: #3583aa;
  text-decoration: none;
}
a:visited {
  color: #788d98;
}
a:hover {
  text-decoration: underline;
}
